{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'style/faq.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="container-logo">
            <div class="container-logo-second">
                <img src="{% static 'files/sink.png' %}" alt="sink" class="logo">
                <span class="logo-main-span">Сантехника</span>
                <span class="logo-span">Лучшая сантехника для вас</span>
            </div>
        </div>

        <div class="container-menu">
            <ul class="menu">
                <li class="menu-item"><a href="./index.html" class="menu-item-a">Главная</a></li>
                <li class="menu-item"><a href="./shop.html" class="menu-item-a">Магазин</a></li>
                <li class="menu-item"><a href="./about.html" class="menu-item-a">О нас</a></li>
                <li class="menu-item"><a href="./faq.html" class="menu-item-a">FAQ</a></li>
                <li class="menu-item"><a href="./connection.html" class="menu-item-a">Связь</a></li>
            </ul>
        </div>

        <div class="container-questions">
            <h3 class="questions-faq">FAQ</h3>
            
            {% for i in data %}
                <p class="questions-responce">{{ i.req }}? {{ i.res }}</p>
            {% endfor %}
        </div>

        <div class="container-footer">
            <div class="footer-left">
                <a href="#"><img src="{% static 'files/social/vk.png' %}" alt="vk" class="footer-left-img"></a>
                <a href="#"><img src="{% static 'files/social/facebook.png' %}" alt="facebook" class="footer-left-img"></a>
                <a href="#"><img src="{% static 'files/social/insta.png' %}" alt="insta" class="footer-left-img"></a>
                <a href="#"><img src="{% static 'files/social/twitter.png' %}" alt="twitter" class="footer-left-img"></a>
            </div>
            <div class="footer-right">
                <span class="footer-right-text">Подпишитесь на рассылку</span>
                <form action="#" class="footer-right-form">
                    <input type="text" class="footer-right-form-input">
                    <button type="submit" class="footer-right-form-btn">OK</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>